.product-detail {
  max-width: 1300px;
  padding-top: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.image-section {
  padding-right: 40px;
}

.product-detail-image {
  width: 300px;
}

.detail-section {
  font-size: 30px;
  display: grid;
  grid-row-gap: 20px;
}

.detail-category {
  color: gray;
}

.add-to-cart-btn {
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  border-color: grey;

  background-color: lightgrey;
  width: 30%;
  height: 50px;
  margin-left: auto;
}
