/* Registerpage.css */
.regi-page {
  max-width: 300px;
  padding-top: 100px;
  margin: auto;
}

.regi-page-wrap {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}

.regi-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.regi-eamil,
.regi-password {
  font-size: 16px;
  margin-bottom: 8px;
}

.regi-email-input,
.regi-password-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.regi-submit-btn {
  width: 100%;
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.regi-submit-btn:hover {
  background: #0056b3;
}
